$_white: #ffffff;
$_black: #000000;

$_woodSmoke: #171718;
$_stormGray: #70758d;
$_mountainMeadow: #1caf82;
$_outerSpace: #2b3834;
$_snuff: #d7d9eb;
$_logan: #afb2cd;
$_mischka: #d2d3de;
$_athensGray: #f9f9fb;
$_navyBlue: #020773;
$_blueRibbon: #363ff9;
$_darkBlue: #0610d4;

$_green: #09f12f;
$_red: #ff0000;
$_orange: #F16709;
$_blue: #09bbf1;
