$col-primary: #374BB0;

// auth
$col-auth-titles-background-light: #199FD6;
$col-auth-titles-background-dark: #262461;
$col-text-auth-title-big: rgb(255, 255, 255);
$col-text-auth-title-small: rgb(255, 255, 255);
$col-text-auth-version: rgba(#7b6eff, 0.65);

// sidebar
$col-sidebar-background: #e9eaed;
$col-sidebar-text: rgba($col-primary, 0.7);
$col-footer-text: $col-primary;
$col-sidebar-active-elem-text: rgba($col-sidebar-text, 1);
$col-sidebar-active-elem-background: #f2f2f4;

$col-btn: #374BB0;
$col-button-disabled: rgba($col-btn, 0.7);
$col-text-page-heading: $col-primary;

$col-text: $col-primary;
$col-top-bar-tab-active: $col-btn;
$col-field-txt: $col-primary;
$col-link: $col-btn;
$col-chart: $col-text;
$col-chart-text: $col-chart;
$col-app-content-background: #f6f8fb;
$col-top-bar-background: #ffffff;

$col-text-secondary: #837fa1;
$col-text-black: #000;
$col-btn-txt: #ffffff;
$col-message-box-text: #ffffff;
