@import '~@scss/variables';
@import '~@scss/mixins';

.auth-page__title {
  font-size: 3.2 * $point;
  font-weight: 400;
  margin-bottom: 2.4 * $point;
  color: $col-text-page-heading;
}

.auth-page__content {
  margin-bottom: 5.5 * $point;
}

.auth-page__explanations {
  line-height: 2.6 * $point;
}

.auth-page__tip-link {
  // TODO: remove !important once md will be completely out
  color: $col-text-auth-tip-link !important;
  text-decoration: underline;
}

.auth-page__submit-btn {
  @include button-raised();

  margin-right: auto;
  margin-bottom: 2 * $point;
  width: 20 * $point;

  &:not(:only-child):not(:last-child) {
    margin-right: .75 * $point;
  }
}

.auth-page__cancel-btn {
  @include button();

  margin-right: auto;
  margin-bottom: 2 * $point;
  width: 15 * $point;
}
