@import '~@scss/variables';
@import '~@scss/mixins';
@import '~@/vue/forms/app-form';

.auth-page__title {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  color: $col-text-page-heading;
}

.auth-page__tips {
  margin-top: 5.5rem;
}

.auth-page__explanations {
  line-height: 2.6rem;
}

.auth-page__tip-link {
  color: $col-text-auth-tip-link;
  text-decoration: underline;
  line-height: 1.5;
}

.auth-page__submit-btn {
  margin-right: auto;
  margin-bottom: 2rem;
  width: 20rem;

  &:not(:only-child):not(:last-child) {
    margin-right: 0.75rem;
  }
}

.auth-page__cancel-btn {
  margin-right: auto;
  margin-bottom: 2rem;
  width: 15rem;
}

.auth-page__tip {
  color: $col-text;
}
