@import '~@scss/variables.scss';
@import '~@scss/mixins.scss';

$margin-row-to-row: 2.4rem;
$margin-row-to-row-small: 3rem;
$field-to-field-gap: 2rem;

.app__form-row {
  display: flex;
  width: 100%;

  &:not(:first-child) {
    margin-top: $margin-row-to-row;
  }

  & > .app__form-field {
    flex: 1;
    min-width: 0;

    &--halved {
      flex: 0.5;
      margin-right: $field-to-field-gap;
    }

    &--right {
      text-align: right;
    }
  }

  & > .app__form-field + .app__form-field {
    margin-left: $field-to-field-gap;
  }

  @include respond-to(small) {
    flex-direction: column;

    & + & {
      margin-top: $margin-row-to-row-small;
    }

    & > .app__form-field + .app__form-field {
      flex: 1;
      margin-left: 0;
      margin-top: $margin-row-to-row-small;
    }
  }
}

.app__form-actions {
  margin-top: 5rem;
}
