@import '~@scss/variables';

$movements-table-cell-width: 10rem;
$movements-table-cell-width-expand-btn-wrp: 6.7rem;
$movements-table-cell-width-direction: 1.25rem;
$movements-table-cell-side-padding: 1.5rem;
/* stylelint-disable-next-line */
$movements-table-row-btn-hover-bg: darken($col-app-content-background, 3%);
/* stylelint-disable-next-line */
$movements-table-row-btn-active-bg: darken($col-app-content-background, 10%);
