@use 'sass:map';

$media-breakpoints: (
  xsmall: 480px,
  small: 600px,
  tablet: 868px,
  medium: 1024px,
  xmedium: 1280px,
  large: 1400px,
  xlarge: 1920px,
  xlarge2k: 2048px,
  xlarge4k: 4096px,
);

@mixin respond-to ($media) {
  $breakpoint: map.get($media-breakpoints, $media);

  @if $breakpoint {
    @media (max-width: ($breakpoint - 1)) {
      @content;
    }
  }

  @else {
    @media (max-width: ($media - 1)) {
      @content;
    }
  }
}
