$margin-row-to-row: toRem(20);
$field-to-field-gap: toRem(20);

.app__form-row {
  display: flex;
  width: 100%;

  &:not(:first-child) { margin-top: $margin-row-to-row; }

  & > .app__form-field {
    flex: 1;
    min-width: 0;
    width: 100%;

    &--halved {
      flex: 0.5;
      margin-right: $field-to-field-gap;
    }

    &--right {
      text-align: right;
    }
  }

  & > * + * {
    margin-left: $field-to-field-gap;
  }
}

.app__form-actions {
  display: flex;
  margin-top: toRem(32);

  &--border {
    padding-top: toRem(32);
    border-top: toRem(1) solid var(--col-gray-low);
  }

  & > * + * {
    margin-left: toRem(10);
  }

  &--right {
    justify-content: flex-end;
  }

  & > .app__form-field {
    flex: 1;

    &--halved {
      flex: 0.5;
      margin-right: $field-to-field-gap;
    }

    &--right {
      text-align: right;
    }
  }
}
