@import '../../static/branding/app-colors';

/* App variables */
:root,
:before,
:after {
  /* status colors */
  --app-status-success: #{$_green};
  --app-status-error: #{$_red};
  --app-status-warning: #{$_orange};
  --app-status-info: #{$_blue};

  /* Z index variables */
  --z-navbar: 10;
  --z-modal: 15;

  /* Modal */
  --modal-backdrop-bg: #{rgba($_woodSmoke, 0.05)};
  --modal-pane-bg: #{$_white};
  --modal-close-btn: #{$_stormGray};

  /* Error message */
  --error-message-icon: var(--app-status-error);
  --error-message-title: var(--app-status-error);
  --error-message-message: var(--app-status-error);

  /* No data message */
  --no-data-message-icon: #{$_stormGray};
  --no-data-message-title: #{$_stormGray};
  --no-data-message-message: #{$_stormGray};

  /* --------------------------------------- */

  /* App variables */

  /* --------------------------------------- */
  --col-app-bg: #{$_athensGray};
  --col-app-txt: #{$_black};
  --app-font-family: 'Roboto', 'Arial', sans-serif;
  --app-padding-right: #{toRem(120)};
  --app-padding-left: #{toRem(120)};
  --app-headings: #{$_woodSmoke};
  --app-link: #{$_woodSmoke};

  @include respond-to(small) {
    --app-padding-right: #{toRem(24)};
    --app-padding-left: #{toRem(24)};
  }

  /* --------------------------------------- */

  /* App navbar variables */

  /* --------------------------------------- */
  --app-navbar-bg: #{$_white};
  --app-navbar-shadow: #{rgba($_outerSpace, 0.08)};
  --app-navbar-border: #{toRem(1) solid $_mischka};
  --app-navbar-active: var(--col-btn);

  /* --------------------------------------- */

  /* Button variables */

  /* --------------------------------------- */
  --col-btn: #{$_blueRibbon};
  --col-btn-disabled: #{$_snuff};
  --col-primary-text: #{$_white};

  --button-bg-raised: #{$_blueRibbon};
  --button-raised-hover: #{$_darkBlue};
  --button-col-raised: #{$_white};

  --button-col-flat: #{$_blueRibbon};
  --button-col-flat-hover: #{$_darkBlue};
  --button-border-flat: #{$_blueRibbon};

  --button-bg-success: var(--app-status-success);
  --button-col-success: #{$_white};

  --button-bg-danger: var(--app-status-error);
  --button-col-danger: #{$_white};

  --button-bg-warning: var(--app-status-warning);
  --button-col-warning: #{$_white};

  --button-bg-info: var(--app-status-info);
  --button-col-info: #{$_white};

  /* --------------------------------------- */

  /* Field variables */

  /* --------------------------------------- */

  --field-col-bg: transparent;
  --field-col-label: #{$_woodSmoke};
  --field-col-text: #{$_stormGray};
  --field-col-placeholder: rgba(var(--field-col-text), 0.7);
  --field-col-border: #{$_logan};
  --field-col-error: var(--app-status-error);

  /* label */
  --field-font-size-label: #{toRem(16)};
  --field-line-height-label: 1.35;

  /* text */
  --field-font-size-text: #{toRem(14)};
  --field-line-height-text: 1.35;

  /* transition duration */
  --field-transition-duration: 0.2s;

  /* paddings */
  --field-padding-top: #{toRem(11)};
  --field-padding-right: #{toRem(16)};
  --field-padding-bottom: #{toRem(11)};
  --field-padding-left: #{toRem(16)};
  --field-padding:
    var(--field-padding-top)
    var(--field-padding-right)
    var(--field-padding-bottom)
    var(--field-padding-left);

  /* tick field */
  --tick-field-tick-bg: var(--col-btn);
  --tick-field-tick-icon: #{$_white};

  /* errors */
  --field-error-transition: 0.35s ease-in-out;
  --field-error-font-size: #{toRem(16)};
  --field-error-line-height: 1.25;
  --field-error-margin-top: #{toRem(5)};

  /* loader */

  /* Spinner */
  --spinner-border: var(--col-btn);

  /* Notification */
  --notification-bg-success: var(--app-status-success);
  --notification-bg-error: var(--app-status-error);
  --notification-bg-warning: var(--app-status-warning);
  --notification-bg-info: var(--app-status-info);
  --notification-title: #{$_white};
}
