$text-primary: #7b6eff;
$text-primary-light: #837fa1;
$text-primary-dark: #3a4180;

// status colors:

$col-info: $text-primary;

// global colors
$col-text-secondary: $text-primary-light;
$col-text: $text-primary-dark;
