@import '~L@scss/variables.scss';
@import '~L@scss/mixins.scss';

$margin-row-to-row: 4 * $point;
$margin-row-to-row-small: 3 * $point;
$field-to-field-gap: 2 * $point;

.app__form-row {
  display: flex;
  width: 100%;

  &:not(:first-child) {
    margin-top: $margin-row-to-row;
  }

  & > .app__form-field {
    flex: 1;
    min-width: 0;

    &--halved {
      flex: 0.5;
      margin-right: $field-to-field-gap;
    }

    &--right {
      text-align: right;
    }
  }

  & > .app__form-field + .app__form-field {
    margin-left: $field-to-field-gap;
  }

  @include respond-to(small) {
    flex-direction: column;

    & + & {
      margin-top: $margin-row-to-row-small;
    }

    & > .app__form-field + .app__form-field {
      flex: 1;
      margin-left: 0;
      margin-top: $margin-row-to-row-small;
    }
  }
}

.app__form-actions {
  display: flex;

  &:not(:first-child) {
    margin-top: 5 * $point;
  }

  & > button + button {
    margin-left: 1 * $point;
  }

  &--right {
    justify-content: flex-end;
  }

  & > .app__form-field {
    flex: 1;

    &--halved {
      flex: 0.5;
      margin-right: $field-to-field-gap;
    }

    &--right {
      text-align: right;
    }
  }

  & > .app__form-field + .app__form-field {
    margin-left: $field-to-field-gap;
  }

  @include respond-to(small) {
    &:not(:first-child) {
      margin-top: 4 * $point;
    }

    & > .app__form-field + .app__form-field {
      flex: 1;
      margin-left: 0;
      margin-top: $margin-row-to-row-small;
    }
  }
}

.app__form-field-description {
  margin-top: .5 * $point;
  font-size: 1.4 * $point;
  color: $col-text-field-hint;

  & > p {
    margin: 0;
  }
}

.app__form-submit-btn {
  @include button-raised();
  min-width: 16 * $point;
  height: 36px;
}

.app__form-subheading {
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}
