@import 'variables';
@import 'mixins';
@import '../../node_modules/vue-material/dist/theme/engine';

@include md-register-theme("default", (
  primary: $col-primary,
  accent: md-get-palette-color(red, A200),
  theme: light
));

#app {
  & .md-button {
    & .md-ripple {
      padding: 0 16px;
    }
  }

  & .md-toolbar {
    padding: 0;

    & .md-title {
      margin-left: 0;
    }
  }

  & .md-table-toolbar {
    padding-left: 0;

    & .md-title {
      padding: 24px;
    }
  }

  p.app__page-explanations {
    max-width: 45 * $point;
    color: $col-text-page-explanations;
    font-size: 1.6 * $point;
    margin-top: 2.5 * $point;
    margin-bottom: 4 * $point;

    &--secondary {
      color: $col-text-page-explanations-inactive;
    }
  }

  & .app__table-details {
    font-size: 1.6 * $point;
    line-height: 1.5;

    & > tr > td:first-child {
      color: $col-details-label;
    }

    & > tr > td:last-child {
      color: $col-details-value;
      padding-left: 3 * $point;
    }

    & .app__table-details-counterparty {
      max-width: 25 * $point;
      overflow: hidden;
      text-overflow: ellipsis;

      &.app__table-details-copyable {
        padding-right: 25px;
        position: relative;
      }
    }

    & .app__table-details-copyable {
      & > span {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
  }

  .app__input-autofill--white {
    -webkit-box-shadow: inset 0 0 0 5*$point $col-field-autofill !important;
  }
}

#app,
.md-dialog {
  @mixin resize-icon ($size) {
    width: $size;
    min-width: $size;
    height: $size;
    font-size: $size !important;
  }

  & .md-icon--half-sized {
    @include resize-icon(12px)
  }

  & .md-icon-size-065x {
    @include resize-icon(14px)
  }

  & .md-icon-size-075x {
    @include resize-icon(16px)
  }
}

.info-dialog.md-dialog {
  max-height: 100%;
  padding: 0;
}

.md-field.md-theme-default.md-invalid.md-focused label,
.md-field.md-theme-default.md-focused.md-invalid .md-input {
  color: $col-invalid;
}

.md-field.md-theme-default.md-invalid:before {
  background-color: $col-invalid;
}


.md-list-item-content {
  .portfolio-widget__asset-item & {
    padding: 9px 24px;
  }

  .info-widget__asset-item & {
    @include respond-to(xsmall) {
      padding: 4px 8px;
    }
  }
}

.md-dialog-container {
  .info-dialog & {
    width: 100%;
  }
}

.md-list-item-content {
  .info-dialog__item & {
    @include respond-to(small) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.md-dialog-container {
  max-width: 100%;
}

.manage-orders .md-card-header + .md-card-content {
  @include respond-to-custom(520px) {
    padding: 0;
    padding-bottom: 8px;
  }
}

.app__card-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(medium) {
    flex-direction: column;
  }

  & > .app__card:first-child {
    margin-right: 8px;
    width: calc(50% - 8px);

    @include respond-to(medium) {
      width: 100%;
      margin-right: 0;
    }
  }

  & > .app__card:last-child {
    margin-left: 8px;
    width: calc(50% - 8px);

    @include respond-to(medium) {
      width: 100%;
      margin-left: 0;
      margin-top: 16px;
    }
  }

  &.app__card-wrapper--xmedium-breakpoint {
    @include respond-to(xmedium) {
      flex-direction: column;
    }

    & > .app__card:first-child {
      @include respond-to(xmedium) {
        width: 100%;
        margin-right: 0;
      }
    }

    & > .app__card:last-child {
      @include respond-to(xmedium) {
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}

.app__no-data-msg {
  text-align: center;

  .md-icon {
    margin-bottom: 1rem;
  }

  p {
    margin-top: 10px;
  }
}

.app__dialog,
.app__dialog-inner {
  padding: 3.0 * $point 3.1 * $point;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.app__fade-in-enter-active {
  animation: app__fade-in-keyframes 0.2s ease-in-out;
}

.app__fade-in-leave-active {
  display: none;
  animation: app__fade-in-keyframes 0s ease-in-out reverse;
}

@keyframes app__fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
