@import '../../../scss/variables';

$col-field-text: $col-primary;
$col-field-text-unfocused: $col-primary-inactive;
$col-field-icon: $col-primary;
$col-dropdown-bg: $_white;

$field-color-background: $_thinGray;
$field-color-text: $col-field-text;
$field-color-focused: $field-color-text;
$field-color-unfocused: $col-field-text-unfocused;
$field-color-error: $col-accent;
$field-label-font-size: 1.2rem;
$field-label-line-height: 1;
$field-text-font-size: 1.6rem;
$field-text-line-height: 1.25;
$field-error-font-size: 1.2rem;
$field-error-line-height: 1.25;
$field-transition-duration: .2s;
$field-error-margin-top: .4rem;
$field-input-padding-top: 1.7rem;
$field-input-padding-bottom: .6rem;
$field-input-padding: $field-input-padding-top 0 $field-input-padding-bottom 0;
$field-placeholer-color: $col-field-text-unfocused;
$textarea-background-color: #fafafa;
$file-field-background-color: $_whiteSmoke;
$file-field-border-color: #c4c8cb;
$file-field-note-color: $_lightPurple;
$col-select-field-hover: rgba($col-primary, .1);

@mixin input-paddings {
  font-size: $field-text-font-size;
  line-height: $field-text-line-height;
}

@mixin text-font-sizes {
  font-size: $field-text-font-size;
  line-height: $field-text-line-height;
}

@mixin label-font-sizes {
  font-size: $field-label-font-size;
  line-height: $field-label-line-height;
}

@mixin material-border($color-focused, $color-unfocused, $focused-selector:'') {
  border-bottom: .1rem solid $color-unfocused;
  background: radial-gradient($color-focused, $color-focused) bottom -.1rem center no-repeat;
  background-size: 0 .2rem;
  -webkit-transition-property: background-size, border-color;
  -moz-transition-property: background-size, border-color;
  -ms-transition-property: background-size, border-color;
  -o-transition-property: background-size, border-color;
  transition-property: background-size, border-color;
  transition-duration: $field-transition-duration;

  @if $focused-selector != '' {
    #{$focused-selector},
    &:focus {
      background-size: 100% .2rem;
    }
  } @else {
    &:focus {
      background-size: 100% .2rem;
    }
  }
}

@mixin readonly-material-border($color) {
  border-bottom: .1rem dashed $color;
  background: none !important;
}

