.noscript {
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
	color: #202124;
	padding: 0 10px;
	text-align: center;
	font: 1rem 'Izmir', 'Helvetica Neue', 'Arial', sans-serif;
}

.noscript__title {
	font-weight: normal;
	font-size: 30px;
	margin-top: 30px;
}

.noscript__message {
	margin-top: 0;
}

.noscript__enable-support {
	color: #7b6eff;
}

.noscript__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.noscript__list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
}

.noscript__link {
	border: 1px solid #dfe1e5;
	padding: 5px;
	border-radius: 5%;
}

.noscript__link:hover {
	box-shadow: 0px 4px 8px 3px rgba(60,64,67,.15);
}

.noscript__browser-name {
	margin-top: 10px;
}

@media all and (min-width: 576px) {
	.noscript__message {
		max-width: 700px;
	}

	.noscript__list-item {
		width: 34%;
	}
}

@media all and (min-width: 992px) {
	.noscript {
		margin-top: 70px;
		padding: 0 50px;
	}

	.noscript__list-item {
		width: unset;
		margin-right: 20px;
		margin-bottom: 0;
	}

	.noscript__recommendations {
		margin-bottom: 0;
	}
}
