@import './variables';
@import './mixins';
@import '../../static/fonts/index.css';
@import '../../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import '../../node_modules/flatpickr/dist/flatpickr.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

body,
input,
select,
button,
textarea {
  background: $col-app-background;
  color: $col-primary;
  font-family: 'Circular', 'Noto Sans', '-apple-system', 'BlinkMacSystemFont', sans-serif !important;
  font-size: 1.0 * $point;
  font-weight: 400;
  letter-spacing: 0.005 * $point;
}

input,
textarea {
  width: 100%;
}

html {
  // Fixes the bug:
  // https://www.igorkromin.net/index.php/2016/05/20/mobile-safari-scrolling-problem-with-an-input-field-inside-a-fixed-div/
  overflow: auto !important;
  -webkit-overflow-scrolling : touch !important;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;

  &,
  & main {
    background-color: $col-app-content-background;
  }


  .app__page-content-wrp {
    flex: 1;
    width: 100%;
    max-width: 46 * $point;
    margin: 0 auto;
  }

  & ul, li {
    list-style-type: none;
  }

  & .markdown-formatter,
  & .editor-preview {

    p, ul, ol, li {
      font-size: 1em;
      line-height: 1.5;
    }

    p {
      margin: 1em 0;
    }

    ul {
      display: block;
      margin: 0 0 1em;
      padding: 0 0 0 4em;

      & > li {
        list-style-type: disc;
      }
    }

    ol {
      display: block;
      margin: 0 0 1em;
      padding: 0 0 0 4em;

      & > li {
        list-style-type: decimal;
      }
    }

    h1 {
      display: block;
      font-size: 2em;
      margin: 0.67em 0;
      font-weight: 300;
    }

    h2 {
      display: block;
      font-size: 1.5em;
      margin: 0.83em 0;
      font-weight: 300;
    }

    h3 {
      display: block;
      font-size: 1.17em;
      margin: 1em 0;
      font-weight: bold;
    }

    h4 {
      display: block;
      font-size: 1em;
      margin: 1.33em 0;
      font-weight: bold;
    }

    h5 {
      display: block;
      font-size: .83em;
      margin: 1.67em 0;
      font-weight: bold;
    }

    h6 {
      display: block;
      font-size: .67em;
      margin: 2.33em 0;
      font-weight: bold;
    }

    img {
      max-width: 100%;
    }
  }
}

h1.app__page-heading,
h2.app__page-heading,
h3.app__page-heading,
h4.app__page-heading,
h5.app__page-heading,
h6.app__page-heading {
  display: block;
  color: $col-text-page-heading;
  padding: 0;
}

h1.app__page-heading {
  font-size: 2em;
  margin: 0 0 0.67em 0;
  font-weight: 300;
}

h2.app__page-heading {
  font-size: 1.5em;
  margin: 0 0  1.5em 0;
  font-weight: 300;
}

h3.app__page-heading {
  font-size: 1.17em;
  margin: 0 0 1em 0;
  font-weight: bold;
}

h4.app__page-heading {
  font-size: 1em;
  margin: 0 0 1.33em 0;
  font-weight: bold;
}

h5.app__page-heading {
  font-size: .83em;
  margin: 0 0 1.67em 0;
  font-weight: bold;
}

h6.app__page-heading {
  font-size: .67em;
  margin: 0 0 2.33em 0;
  font-weight: bold;
}

h4 {
  font-size: .8rem;
  font-weight: bold;
  opacity: .65;
  padding: .75rem 0 .3rem;
}

.app__button {
  @include button();
}

.app__button-icon {
  @include button-icon();
}

.app__button-flat {
  @include button-flat();
}

.app__button-raised {
  @include button-raised();
}

.app__card {
  background-color: $col-block-bg;

  &:not(.app__card--shadow-none) {
    @include box-shadow();
  }
}

.app__card-content,
.app__card-header {
  padding: 3.2 * $point;

  @include respond-to(medium) {
    padding: 2.4 * $point;
  }

  @include respond-to(small) {
    padding: 1.2 * $point 1.6 * $point;
  }
}

.app__card-actions {
  padding: 1.2 * $point 3.2 * $point 3.2 * $point;
  display: flex;
  justify-content: flex-end;

  @include respond-to(medium) {
    padding: .8 * $point 2.4 * $point 2.4 * $point;
  }

  @include respond-to(small) {
    padding: .8 * $point 1.6 * $point 1.6 * $point;
  }
}

.app__table {
  width: 100%;
  border-collapse: collapse;
  background-color: $col-table-background;

  thead {
    th {
      font-size: 1.2 * $point;
      text-align: left;
      padding:
        1.6 * $point
        1.6 * $point
        1.1 * $point
        1.6 * $point;
      overflow: hidden;
      max-width: 12 * $point;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $col-table-head-text;
      font-weight: normal;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $col-table-alt-row-background;;
      }

      &:hover {
        background-color: $col-table-row-selected;
      }

      td {
        font-size: 1.4 * $point;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 12 * $point;
        white-space: nowrap;
        color: $col-table-cell-text;
        padding: $point 1.6 * $point;
      }
    }
  }
}

.app__table-left-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -1 * $point;
    bottom: -1 * $point;
    left: 0;
    width: 0.8 * $point;
    box-shadow: inset .5 * $point -.6 * $point .6 * $point 0 rgba(0, 0, 0, .2);
  }
}

.app__table-right-shadow {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: -1 * $point;
    bottom: -1 * $point;
    right: 0;
    width: .8 * $point;
    box-shadow: inset -.5 * $point -.6 * $point .6 * $point 0 rgba(0, 0, 0, .2);
  }
}
