@import 'variables';

/* https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints */
$x-small: 48 * $point;
$small: 60 * $point;
$tablet: 76.8 * $point;
$medium: 102.4 * $point;
$x-medium: 120 * $point;
$large: 144 * $point;
$x-large: 192 * $point;

@mixin button () {
  display: inline-block;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  min-height: 36px;
  background-color: transparent;

  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin button-icon () {
  @include button();

  padding: 8px;
  border-radius: 50%;
  transition: .3s ease-out;

  &:hover {
    background-color: $col-button-flat-hover;
  }
}

@mixin button-raised () {
  @include button();

  border-radius: 2px;
  background-color: $col-button-raised;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
  color: $col-button-raised-txt;

  &[disabled] {
    box-shadow: none;
    opacity: .5;
  }
}

@mixin button-accent () {
  @include button();
  transition: .3s ease-out;
  color: $col-button-flat-accent-txt;

  &[disabled] {
    color: $col-button-flat-accent-disabled-txt;
  }

  &:not([disabled]):hover {
    background-color: $col-button-flat-accent-hover;
  }
}

@mixin button-flat () {
  @include button();

  color: $col-button-flat-txt;
  transition: .3s ease-out;

  &[disabled] {
    color: $col-button-flat-disabled-txt;
  }

  &:not([disabled]):hover {
    background-color: $col-button-flat-hover;
  }
}

@mixin box-shadow () {
  box-shadow: 0 .4 * $point 1 * $point 0 rgba(0, 0, 0, .15)
}

@mixin respond-to($media) {
  @if $media == xsmall {
    @media only screen and (max-width: $x-small - .1 * $point) {
      @content;
    }
  } @else if $media == small {
    @media only screen and (max-width: $small - .1 * $point) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $tablet - .1 * $point) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (max-width: $medium) {
      @content;
    }
  } @else if $media == xmedium {
    @media only screen and (max-width: $x-medium - .1 * $point) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (max-width: $large - .1 * $point) {
      @content;
    }
  } @else if $media == xlarge {
    @media only screen and (max-width: $x-large - .1 * $point) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}

@mixin respond-to-height($media) {
  @media only screen and (max-height: $media) {
    @content;
  }
}
