// use as multiplier for more convenient way to calculating sizes
$point: 0.625rem; /* 10px in case of 1rem=16px */

$sidebar-width: 27.5 * $point;
$sidebar-hide-bp: 76.8 * $point;
$content-side-paddings: 4 * $point;
$content-side-paddings-sm: 2 * $point;

$_athensGray: #e9eaed;
$_eastBay: #3a4180;
$_white: #ffffff;
$_gray: #e2e3e3;
$_thinGray: #f2f2f4;
$_lightGray: #c6c6c6;
$_mediumGray: #ccc;
$_lightRed: #ef5350;
$_cornflowerBlue: #7b6eff;
$_green: #33A494;
$_orangePeel: #f2a100;
$_whiteSmoke: #f5f6f9;
$_lightPurple: #837fa1;

// base colors:
$col-primary: $_eastBay;
$col-primary-lighten: $_cornflowerBlue;
$col-primary-txt: $_white;
$col-link: $col-primary-lighten;
$col-text-on-dark-bg: $_white;

$col-primary-inactive: rgba($col-primary, .7);
$col-primary-flat-hover: rgba($col-primary, .2);

$col-accent: $_lightRed;

// status colors:
$col-warning: $_orangePeel;
$col-success: $_green;
$col-error: $_lightRed;
$col-info: $_cornflowerBlue;

$col-text-msg-warning: $_white;
$col-text-msg-success: $_white;
$col-text-msg-error: $_white;
$col-text-msg-info: $_white;

$col-msg-shadow: rgba(0, 0, 0, 0.25);

// global colors
$col-text: $_eastBay;
$col-block-bg: $_white;
$col-app-background: $_gray;
$col-app-content-background: $_thinGray;

// text colors:
$col-heading: $col-text;
$col-text-page-heading: $col-heading;
$col-text-auth-title-big: $_white;
$col-text-auth-title-small: $_cornflowerBlue;
$col-text-auth-tip-link: $_cornflowerBlue;
$col-text-status-message: $_white;

// button colors:
$col-button-raised: $col-primary-lighten;
$col-button-raised-txt: $col-primary-txt;

$col-button-flat-hover: $col-primary-flat-hover;
$col-button-flat-txt: $col-primary;
$col-button-flat-txt-inactive: $col-primary-inactive;
$col-button-flat-disabled-txt: $_lightGray;

$col-button-flat-accent-hover: rgba($col-accent, .2);
$col-button-flat-accent-txt: $col-accent;
$col-button-flat-accent-disabled-txt: $_lightGray;

$col-button-back-icon: $col-primary-inactive;
$col-button-back-icon-hover: $col-primary-lighten;

// block
$col-block-bg: $_white;

// drawer colors:
$col-drawer-bg: $col-block-bg;
$col-drawer-head-bg: $_athensGray;
$col-drawer-head-text: $_eastBay;

// sidebar
$col-sidebar-background: $_athensGray;
$col-sidebar-background-media-small: $_thinGray;
$col-sidebar-text: $col-primary-inactive;
$col-sidebar-active-elem-text: $col-primary;
$col-sidebar-active-elem-background: $_thinGray;

// navbar
$col-navbar-background: $col-app-content-background;
$col-navbar-avatar-background: $_mediumGray;
$col-navbar-avatar-color: $col-primary-txt;

// instead-of-avatar colors:
$col-avatar-instead-text: $col-text-on-dark-bg;
$col-avatar-instead-bg: rgba($_eastBay, .15);

// fields colors
$col-text-field-hint: $col-primary;
$col-text-field-hint-inactive: $col-primary-inactive;

// other colors
$col-auth-titles-background-light: #5d5882;
$col-auth-titles-background-dark: #2a2749;
$col-auth-titles-background-fallback: #332f5c;

// table colors:
$col-table-background: $_white;
$col-table-alt-row-background: $_whiteSmoke;
$col-table-cell-text: $col-primary;
$col-table-head-text: $_lightPurple;
$col-table-row-selected: darken($_whiteSmoke, 10%);
$col-table-shadow: rgba(0, 0, 0, 0.1);

// loader colors:
$col-loader-text: $col-primary;
$col-loader-icon: $col-primary-inactive;

// TODO: paste here variables that are ready to use during the refactor process
