// z-indexes

$z-drawer: 10;
$z-status-message: 11;

$sidebar-hide-bp: 768px;
$sidebar-width: 27.5rem;

$content-padding-top: 3.7rem;
$content-padding-bottom: 2.5rem;
$content-padding-left: 5rem;
$content-padding-right: 6.5rem;
$content-side-paddings-sm: 2rem;

// z-indexes
$z-sidebar-burger: 10;
$z-status-message: 10;
$z-drawer: 10;
$z-sidebar: 120;

$_athensGray: #e9eaed;
$_eastBay: #3a4180;
$_white: #ffffff;
$_gray: #e2e3e3;
$_cyan: #0ea7ba;
$_thinGray: #f2f2f4;
$_thinBlue: #f6f8fb;
$_lightGray: #c6c6c6;
$_mediumGray: #ccc;
$_lightRed: #ef5350;
$_cornflowerBlue: #7b6eff;
$_green: #33A494;
$_orange: #ef6c00;
$_orangePeel: #f2a100;
$_whiteSmoke: #f5f6f9;
$_lightPurple: #837fa1;
$_ghostWhite: #c4c8cb;
$_thinPurple: #c1bfd0;

// base colors:
$col-primary: $_eastBay;
$col-secondary: $_lightPurple;
$col-primary-lighten: $_cornflowerBlue;
$col-primary-txt: $_white;
$col-link: $col-primary-lighten;
$col-text-on-dark-bg: $_white;

$col-primary-inactive: rgba($col-primary, .7);
$col-primary-flat-hover: rgba($col-primary, .2);

// status colors:
$col-accent: $_lightRed;
$col-pending: $_orange;
$col-warning: $_orangePeel;
$col-success: $_green;
$col-error: $_lightRed;
$col-info: $_cornflowerBlue;

$col-text-msg-warning: $_white;
$col-text-msg-success: $_white;
$col-text-msg-error: $_white;
$col-text-msg-info: $_white;

$col-msg-shadow: rgba(0, 0, 0, 0.25);

// global colors
$col-text: $_eastBay;
$col-text-secondary: $_lightPurple;
$col-block-bg: $_white;
$col-app-background: $_gray;
$col-app-content-background: $_thinBlue;

// text colors:
$col-heading: $col-text;
$col-text-page-heading: $col-heading;
$col-text-auth-title-big: $_white;
$col-text-auth-title-small: $_cornflowerBlue;
$col-text-auth-tip-link: $_cornflowerBlue;
$col-text-status-message: $_white;

// button colors:
$col-button-raised: $col-primary-lighten;
$col-button-raised-txt: $col-primary-txt;

$col-button-flat-hover: $col-primary-flat-hover;
$col-button-flat-txt: $col-primary;
$col-button-flat-txt-inactive: $col-primary-inactive;
$col-button-flat-disabled-txt: $_lightGray;

$col-button-flat-accent-hover: rgba($col-accent, .2);
$col-button-flat-accent-txt: $col-accent;
$col-button-flat-accent-disabled-txt: $_lightGray;

$col-button-back-icon: $col-primary-inactive;
$col-button-back-icon-hover: $col-primary-lighten;

// block
$col-block-bg: $_white;
$col-block-shadow: rgba(0, 0, 0, 0.1);

// drawer colors:
$col-drawer-bg: $col-block-bg;
$col-drawer-head-bg: $_athensGray;
$col-drawer-head-text: $_eastBay;

// sidebar
$col-sidebar-background: $_athensGray;
$col-sidebar-background-media-small: $_thinGray;
$col-sidebar-text: $col-primary-inactive;
$col-sidebar-burger-icon-color: $_white;
$col-sidebar-active-elem-text: $col-primary;
$col-sidebar-active-elem-background: $_thinGray;

// passport (signed in user details in bg)
$col-passport-email-abbr-text: $col-text-on-dark-bg;
$col-passport-email-abbr-bg: rgba($_eastBay, .15);

// fields colors
$col-text-field-hint: $col-primary;
$col-text-field-hint-inactive: $col-primary-inactive;
$col-field-background: $col-block-bg;
$col-file-field-background: $_whiteSmoke;
$col-file-field-border: $_ghostWhite;
$col-field-text-secondary: $_lightPurple;
$col-select-field-selected-background: rgba($_eastBay, 0.1);
$col-select-field-hover-background: rgba($_eastBay, 0.05);

// other colors
$col-auth-titles-background-light: #5d5882;
$col-auth-titles-background-dark: #2a2749;
$col-auth-titles-background-fallback: #332f5c;

// table colors:
$col-table-background: $_white;
$col-table-alt-row-background: $_whiteSmoke;
$col-table-cell-text: $col-primary;
$col-table-head-text: $_lightPurple;
$col-table-row-selected: darken($_whiteSmoke, 10%);
$col-table-shadow: rgba(0, 0, 0, 0.1);

// loader colors:
$col-loader-text: $col-primary;
$col-loader-icon: $col-primary-inactive;

// details colors:
$col-details-label: $col-primary-inactive;
$col-details-value: $col-primary;
$col-details-border: rgba($col-primary, .2);

// no-data-message colors:
$col-no-data-message-text: $col-primary;
$col-no-data-message-description: $col-primary-inactive;
$col-no-data-message-icon-color: rgba($col-primary, .4);

// list colors:
$col-list-text: $col-primary;
$col-list-block-background: $col-block-bg;
$col-list-btn-details-text: $col-primary;
$col-list-btn-details-background: rgba($col-primary, .1);

// top bar colors
$col-top-bar-background: $_white;
$col-top-bar-text: $_eastBay;
$col-top-bar-tab: $_lightPurple;
$col-top-bar-tab-active: $_cornflowerBlue;

// request colors
$col-request-approved: $_cyan;
$col-request-pending: $_orangePeel;
$col-request-rejected: $_lightRed;

// chart colors:
$col-chart-line: $col-primary-lighten;
$col-chart-fill: $_white;
$col-chart-ticks: $col-primary-inactive;
$col-chart-text: $col-primary-inactive;
$col-chart-tip-circle-border: $_white;
$col-chart-tip-circle: $col-primary;
$col-chart-tip-line-inactive: $col-primary;
$col-chart-tip-line-active: $col-primary-lighten;
$col-chart-tip-text-box: $_white;
$col-chart-tip-text-price: $col-primary;
$col-chart-tip-date-dd: $col-primary;
$col-chart-tip-date-mm: rgba($col-primary, .6);
$col-chart-message-wrapper: rgba($col-app-content-background, .25);
$col-chart-message-background: $_white;
$col-chart-message-text: $col-primary;

// form stepper colors
$col-form-stepper-text: $col-primary;
$col-form-stepper-icon: $col-text-on-dark-bg;
$col-form-stepper-icon-background: $col-primary;
$col-form-stepper-tab-active: $col-primary-lighten;
$col-form-stepper-tab-border: $_thinPurple;

// token logo
$col-token-logo-background: $_mediumGray;
$col-token-logo-text: $_white;

// TODO: paste here variables that are ready to use during the refactor process
