@import '@/scss/variables';

.details {
  margin: 0.9rem 1.5rem 0 1.5rem;
  padding: 0.7rem 0 0.7rem 0;
  border-top: 0.1rem solid $col-button-flat-disabled-txt;
}
.details__table {
  td {
    padding: 0.7rem 1.5rem 0.7rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:first-child {
      color: $col-table-head-text;
    }
  }
}
