@import '~@scss/variables';

$user-movements-table-cell-width: 11.3rem;
$user-movements-table-cell-width-expand-btn-wrp: 4rem;
$user-movements-table-cell-width-direction: 1.25rem;
$user-movements-table-cell-side-padding: 1.5rem;
$user-movements-table-row-btn-hover-bg: darken($col-app-content-background, 3%);
$user-movements-table-row-btn-active-bg: darken($col-app-content-background, 10%);
